html, body {
    height: 100%;
    #root {
        height: 100%;
        .App {
            height: 100%;
            .Home {
                height: 100%;
            }
        }
    }
}
.Categories {
    display: flex;
    flex-wrap: wrap;
}