.Dashboard {
    margin: 12vh 3vh 0 11vh;
    height: 100%;
    .Progress {
        display: flex;
        justify-content: space-between;
    }
}

.MuiToolbar-regular-1707 {
    background: rgb(44,177,233);
    background: linear-gradient(100deg, rgba(44,177,233,1) 0%, rgba(49,134,215,1) 100%);
}