.Item {
    .description {
        width: 80%;
        text-align: -webkit-left;
        margin: 2em;
    }
    .difficulty-tag {
        align-self: flex-end;
        padding: 0.5em;
        position: relative;
        top: 0.5em;
        left: -10px;
        background: #ffffff63;
        border-radius: 5px;
    }
    .header {
        img {
            width: 100%;
            filter: contrast(0.7);
        }
        h1 {
            text-transform: uppercase;
            color: white;
            font-family: 'Oswald', sans-serif;
            position: relative;
            bottom: 6.5em;
            right: 1.5em;
            font-size: 29px;
        }
        a {
            position: absolute;
            top: 5%;
            left: 80%;
            background: #80808063;
            padding: .5em;
            border-radius: 8px;
            color: white;
        }
    }
    .details {
        bottom: 10em;
        position: relative;
        background: white;
        .items {
            overflow-y: scroll;
            max-height: 22em;
        }
        .social {
            display: flex;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .follow {
                width: 13em;
                border-radius: 21px;
                height: 3.5em;
                border: none;
                position: relative;
                bottom: 1.5em;
                box-shadow: 1px 5px 14px 7px rgba(0, 0, 0, 0.1);
                background: white;
                font-weight: bolder;
                font-size: 1.2em;
                svg {
                    color: white;
                    background: #3d1e36;
                    border-radius: 50%;
                    margin-left: 5px;

                }
            }
            
            .warm-up {
                display: flex;
                padding: 1em;
                align-items: center;
                background: #f8f8f8;
                border-radius: 18px;
                width: 80%;
                justify-content: space-between;
                margin-top: 1em;
                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                p {
                    font-size: 15px;
                    color: gray;
                }
                h2 {
                    font-size: 25px;
                }
                }
            }
        }
        .members {
            display: flex;
            margin: 0.5em 2.5em 1.2em;
            align-items: center;
            p {
                font-weight: bold;
                margin-top: 1em;
                font-size: 17px;
            }
            button {
                width: 2em;
                height: 2em;
                border-radius: 50%;
                position: relative;
                left: -9px;
            }
        }
        .options {
            background: rgb(236, 236, 236);
            padding: 1em;
            display: flex;
            justify-content: space-evenly;
            border-radius: 25px;
            width: 80%;
            margin: auto;
            button {
                color: rgb(129, 129, 129);
                background: none;
                border: none;
                font-weight: bold;
                &:hover {
                    cursor: pointer;
                    color: black;
                    background: white;
                    padding: .7em;
                    border-radius: 25px;
                }
            }
        }
    }
    
}